{%extends 'layout.html'%}
{%block header%}{{super()}}{%endblock%}
{%block content%}

<h1 class="pushLeft">You can find a book from here</h1>

<div class="pushLeft">
    <form action="/books/findBook" method="POST">
        <label>Book Name:</label>
        <br>
        <input type="text" name="bookName" required autofocus>
        <br><br>
        <label>Book Author:</label>
        <br>
        <input type="text" name="bookAuthor">
        <button type="Submit">Find my book!</button>
    </form>
</div>

<br><br>

<div class="pushLeft">
    <table>
        <tr>
            <th>bookID</th>
            <th>bookName</th>
            <th>Author</th>
            <th>YearPublished</th>
            <th>bookType</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{book[0]}}</td>
            <td>{{book[1]}}</td>
            <td>{{book[2]}}</td>
            <td>{{book[3]}}</td>
            <td>{{book[4]}}</td>
        </tr>
        {% endfor %}
    </table>

</div>

{%endblock%}
{%block footer%}{{super()}}{%endblock%}