{%extends 'layout.html'%}
{%block header%}{{super()}}{%endblock%}
{%block content%}

<h1 class="pushLeft">Find customers from here</h1>

<div class="pushLeft">
    <form action="/customers/findCustomer" method="POST">
        <label>Customer name:</label>
        <br>
        <input type="text" name="custName" required autofocus>
        <br><br>
        <label>City:</label>
        <br>
        <input type="text" name="custCity">
        <br><br>
        <button type="submit">Find!</button>
    </form>
</div>
<br><br>

<div class="pushLeft">
    <table>
        <tr>
            <th>customerID</th>
            <th>custName</th>
            <th>custCity</th>
            <th>custAge</th>
        </tr>
        {%for customer in cust%}
        <tr>
            <td>{{customer[0]}}</td>
            <td>{{customer[1]}}</td>
            <td>{{customer[2]}}</td>
            <td>{{customer[3]}}</td>
        </tr>
        {%endfor%}
    </table>
</div>

{%endblock%}
{%block footer%}{{super()}}{%endblock%}