{%extends 'layout.html'%}
{%block header%}{{super()}}{%endblock%}
{%block content%}

<h1 class="pushLeft">Show customers from here</h1>
<div class="pushLeft">
    {%for customer in customers%}
    <li>{{customer}}</li>
    {%endfor%}
</div>

<div class="pushLeft">
    <table>
        <tr>
            <th>customerID</th>
            <th>cusName</th>
            <th>cusCity</th>
            <th>cusAge</th>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>

{%endblock%}
{%block footer%}{{super()}}{%endblock%}