{%extends 'layout.html'%}
{%block header%}{{super()}}{%endblock%}
{%block content%}
<div class="indexNav">
    <h1 class="pushLeft">Welcome to the library</h1>
    <br><br>
    <p class="pushLeft">Click on one of the navigation links above to go to that section or click a link below.</p>

    <br><br>

    <div class="pushLeft">
        <a href="/addData">Add data to tables</a>
    </div>

    <div class="pushLeft">
        <a href="/deleteData">Delete all data</a>
    </div>
    {%endblock%}
    {%block footer%}{{super()}}{%endblock%}