{%extends 'layout.html'%}
{%block header%}{{super()}}{%endblock%}
{%block content%}
<div class="indexNav">
    <h1 class="pushLeft">Welcome to the library</h1>
    <br><br>
    <p class="pushLeft">Click on one of the navigation links above to go to that section or click a link below.</p>

    <a class="pushLeft" href="/books/showAllBooks">Show all books</a>
    <a class="pushLeft" href="/books/findBook">Find a certain book</a>
    <a class="pushLeft" href="/books/addBook">Add a book</a>
    <a class="pushLeft" href="/books/removeBook">Remove a book from the library</a>
    <a class="pushLeft" href="/books/returnBook">Return a loaned book</a>
    <br><br>
    <a class="pushLeft" href="/customers/addCustomer">Add customer to library</a>
    <a class="pushLeft" href="/customers/findCustomer">Search for customer</a>
    <a class="pushLeft" href="/customers/removeCustomer">Remove customer from library</a>
    <a class="pushLeft" href="/customers/showAllCustomers">Show all customers in the library</a>
    <br><br>
    <a class="pushLeft" href="/loans/loanBook">Loan a book</a>
    <a class="pushLeft" href="/loans/showAllLateLoans">Show all late loans</a>
    <a class="pushLeft" href="/loans/showAllLoans">Show all loans from library</a>
</div>

<br><br>

<div class="pushLeft">
    <a href="/addData">Click here</a> to add data to the tables.
</div>
{%endblock%}
{%block footer%}{{super()}}{%endblock%}